* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  background-color: #FFA674;
}

section, header, footer {
  width: 100vw;
  margin: 0 !important;
}

::-webkit-scrollbar {
  display: none;
}

header {
  position: relative;
  background-color: #FFA674;
  height: 150px;
  color: white;
}

header > h1 {
  position: absolute;
  top: 5px;
  left: 20px;
}

#right-top {
  position: absolute;
  top: 5px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#right-top > img {
  display: block;
  height: 30px;
  margin-right: 20px;
}

#search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-right: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1000px;
  padding-left: 20px;
  padding-right: 10px;
}

::placeholder {
  color: white;
}

#search-bar > input {
  background-color: transparent;
  height: 100%;
  width: 100px;
}

#search-bar > img {
  transform: rotate(270deg);
  height: 20px;
  margin-left: 10px;
}

#tabs {
  position: absolute;
  left: 45px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tabs > * {
  margin: 0 10px;
}

#tabs > button {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 10px;
}

#tabs > button.selected {
  border-bottom: 7px solid white;
  padding-bottom: 5px;
  font-weight: bold;
}

#tabs > img {
  height: 15px;
}

#filter-and-sort {
  position: absolute;
  right: 40px;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#filter-and-sort > * {
  margin-right: 20px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  background-color: transparent;
  color: white;
  border-radius: 7px;
}

#filter-and-sort img {
  height: 20px;
}

main {
  border-radius: 50px 50px 0 0;
  background-color: white;
  z-index: 2;
  padding: 40px 0;
}

#categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px !important;
}

.category-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 25vw;
  width: 25vw;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.6);
}

#all-products {
  
}

#page-footer {
  background-image: radial-gradient(circle at center, #CC855D, #FFA674);
}
